/* resetting browser stuff */
*     {
    box-sizing: border-box;
  }
  html,
  body   {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
  }
  
  /*overall page */
  body     {
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* header */
  header   {
    background: #222;
    color: #FFF;
    padding: 20px 30px;
    top: 0; 
    width: 100%; 
    position:fixed;
    overflow: hidden;
  }
  
  
  /* logo */
  #logo         {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;
  }
  #logo img    {
    width: 50px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
  }
  #logo span   {
    display: inline-block;
  }
  
  /* main navigation */
  nav     {
    width: 50%;
    display: inline-block;
    text-align: right;
  }
  nav ul   {
    list-style: none;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a    {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
  }
  
  /* styling our footer */
  footer   {
    background: #222;
    color: #777;
    padding: 40px;
    text-align: center;
  }
  footer img   {
    display: block;
    border-radius: 5px;
    width: 80px;
    margin: 0 auto 10px;
  }
  
  /*main content */
  /*main content */
  /*main content */
  .hero           {
    min-height: 800px;
    text-align: center;
    background-image: url('D:/Science Project/photo/background/earth.jpg');
    background-size: cover;
  }
  .hero-content   {
    padding-top: 130px;
  }
  .hero-content h1   {
    color: #FFF;
    font-size: 100px;
    margin: 0;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .hero-content p    {
    color: rgb(236, 236, 236);
    font-size: 40px;
  }
  
  /* basic site sections */
  .warm {
    text-align: center;
    padding-bottom: 70px;
    padding-top: 50px;
    background:white;
    text-align:center;
  }
  .warm-Head h2  {
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
  }
  .warm-content{
    background-color:#e7e7e7;
    color:#222;
    font-size: 20px;
    padding: 30px 40px;
    width:80%;
    margin-left:100px;
  }
  .vid {
    text-align: center;
    padding-bottom: 70px;
    padding-top: 20px;
    background:white;
    text-align:center;
  }
  .site-section   {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    background-image: url('D:/Science Project/photo/background/sky.jpg');
    min-height: 800px;
    background-size: cover;
    }
  .site-section-inside   {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-header {
    text-align: center;
    margin-bottom: 30px;
  }
  .section-header h2  {
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    color:#222;
  }
  .site-section-secondary   {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    background: #EFEFEF;
  }
  
  /* feature boxes */
  .feature-box   {
    display: inline-block;
    width: 35%;
    padding: 40px 50px;
  }
  button {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #FFF;
    display: inline-block;
    font-size: 50px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 50%;
  }
  button:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

/* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    color: #FFF;
    border: 3px solid #FFF;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 50%;
}